# FIND THE AVERAGE NUMBER OF FRIENDS FOR EACH AGE USING GIVEN CSV FILE. (Mini Project)

### IMPORT FINDSPARK TO FIND SPARK IN LOCAL.

In [1]:
import findspark

### INTIALIZE FINDSPARK

In [2]:
findspark.init()

###  IMPORT PYSPARK

In [3]:
import pyspark

### IMPORT SPARKSESSION, ROW, FUNCTIONS

In [4]:
from pyspark.sql import SparkSession, Row, functions as func

### CREATE SPARKSESSION AS SPARK

In [5]:
spark = SparkSession.builder.appName("FriendsByAge").getOrCreate()

2023-04-11 16:09:35,815 WARN util.Utils: Your hostname, shiva-life resolves to a loopback address: 127.0.1.1; using 192.168.1.4 instead (on interface wlo1)
2023-04-11 16:09:35,817 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2023-04-11 16:09:36,798 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2023-04-11 16:09:37,887 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2023-04-11 16:09:37,888 WARN util.Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

### LOAD THE CSV FILE AND MENTION HEADER AND INFER SCHEMA

In [6]:
lines = spark.read.option("header", "true").option("inferSchema", "true").csv("file:///home/bigdata/workspace/Spark_resources/fakefriends.csv")

### Select only age and numFriends columns

In [7]:
friendsByAge = lines.select("age", "NumFriends")

### From friendsByAge we group by "age" and then compute average

In [8]:
friendsByAge.groupBy("age").avg("NumFriends").show()

+---+------------------+
|age|   avg(NumFriends)|
+---+------------------+
| 31|            267.25|
| 65|             298.2|
| 53|222.85714285714286|
| 34|             245.5|
| 28|             209.1|
| 26|242.05882352941177|
| 27|           228.125|
| 44| 282.1666666666667|
| 22|206.42857142857142|
| 47|233.22222222222223|
| 52| 340.6363636363636|
| 40| 250.8235294117647|
| 20|             165.0|
| 57| 258.8333333333333|
| 54| 278.0769230769231|
| 48|             281.4|
| 19|213.27272727272728|
| 64| 281.3333333333333|
| 41|268.55555555555554|
| 43|230.57142857142858|
+---+------------------+
only showing top 20 rows

### Sort the above Result

In [9]:
friendsByAge.groupBy("age").avg("NumFriends").sort("age").show()

+---+------------------+
|age|   avg(NumFriends)|
+---+------------------+
| 18|           343.375|
| 19|213.27272727272728|
| 20|             165.0|
| 21|           350.875|
| 22|206.42857142857142|
| 23|             246.3|
| 24|             233.8|
| 25|197.45454545454547|
| 26|242.05882352941177|
| 27|           228.125|
| 28|             209.1|
| 29|215.91666666666666|
| 30| 235.8181818181818|
| 31|            267.25|
| 32| 207.9090909090909|
| 33| 325.3333333333333|
| 34|             245.5|
| 35|           211.625|
| 36|             246.6|
| 37|249.33333333333334|
+---+------------------+
only showing top 20 rows

### Formatted the above result precisely and more nicely

In [10]:
friendsByAge.groupBy("age").agg(func.round(func.avg("NumFriends"), 2)).sort("age").show()

+---+-------------------------+
|age|round(avg(NumFriends), 2)|
+---+-------------------------+
| 18|                   343.38|
| 19|                   213.27|
| 20|                    165.0|
| 21|                   350.88|
| 22|                   206.43|
| 23|                    246.3|
| 24|                    233.8|
| 25|                   197.45|
| 26|                   242.06|
| 27|                   228.13|
| 28|                    209.1|
| 29|                   215.92|
| 30|                   235.82|
| 31|                   267.25|
| 32|                   207.91|
| 33|                   325.33|
| 34|                    245.5|
| 35|                   211.63|
| 36|                    246.6|
| 37|                   249.33|
+---+-------------------------+
only showing top 20 rows

### With a custom column name

In [11]:
friendsByAge.groupBy("age").agg(func.round(func.avg("NumFriends"), 2).alias("friends_avg")).sort("age").show()

+---+-----------+
|age|friends_avg|
+---+-----------+
| 18|     343.38|
| 19|     213.27|
| 20|      165.0|
| 21|     350.88|
| 22|     206.43|
| 23|      246.3|
| 24|      233.8|
| 25|     197.45|
| 26|     242.06|
| 27|     228.13|
| 28|      209.1|
| 29|     215.92|
| 30|     235.82|
| 31|     267.25|
| 32|     207.91|
| 33|     325.33|
| 34|      245.5|
| 35|     211.63|
| 36|      246.6|
| 37|     249.33|
+---+-----------+
only showing top 20 rows