In [2]:
import findspark

In [3]:
findspark.init()

In [4]:
import pyspark

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("sampleHive").enableHiveSupport()

In [7]:
spark = SparkSession.builder.appName("sampleHive").getOrCreate()

2023-04-03 23:42:49,229 WARN util.Utils: Your hostname, shiva-life resolves to a loopback address: 127.0.1.1; using 192.168.1.4 instead (on interface wlo1)
2023-04-03 23:42:49,231 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
2023-04-03 23:42:50,230 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
2023-04-03 23:42:51,394 WARN util.Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
2023-04-03 23:42:51,394 WARN util.Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
2023-04-03 23:42:51,394 WARN util.Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
2023-04-03 23:42:51,395 WARN util.Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
2023-04-03 23:42:51,395 WARN util.Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.

In [8]:
a = spark.sql("show databases")

2023-04-03 23:43:03,160 WARN conf.HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
2023-04-03 23:43:03,161 WARN conf.HiveConf: HiveConf of name hive.stats.retries.wait does not exist

In [9]:
a.show()

+---------+
|namespace|
+---------+
|  default|
|  hive_db|
|    shiva|
|     test|
+---------+

In [10]:
a.count()

4

In [11]:
b = spark.sql("select * from test.emp")

2023-04-03 23:43:19,230 WARN metastore.ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

In [12]:
b.show()

+---+--------+----+-------------+
|sno|usr_name| dob|         city|
+---+--------+----+-------------+
|  6|    Nani|null|     Rojipura|
|  1|   Shiva|1999|      chennai|
|  2|  Naveen|1998|    bangalore|
|  3|  akshar|1999|      shimoga|
|  4|  Naresh|1999|Doddaballapur|
|  5|   kavya|1999|         Bdvt|
+---+--------+----+-------------+